$max-width: 1000px;

$primary-300: #FF99A3;
$primary-400: #FF6B7A;
$primary-500: #F54E62;
$primary-600: #D64053;
$primary-700: #B53245;

$neutral-300: #F7F7F9;
$neutral-400: #646A73;
$neutral-500: #2F3640;
$neutral-600: #2F3040;
$neutral-700: #322F40;

$success-300: #C9E4B5;
$success-400: #85CF51;
$success-500: #51BA06;
$success-600: #419605;
$success-700: #306E03;

$danger-300: #F4B8AD;
$danger-400: #E86751;
$danger-500: #DE2607;
$danger-600: #691203;
$danger-700: #400B02;

$background-400: #FFFFFF;
$background-500: #F1F2F6;
$background-600: #A7A7A9;
